#   Ignore R Libraries
*.RLibs*

#   Ignore R data
*.RData

#   Ignore R History
*.Rhistory

#   Ignore macOS Desktop Services Store file
*.DS_Store
*._.DS_Store

#   Ignore PyCharm specific files
*.idea
*venv*

#   Ignore testing scripts
*testing*
